/* .charts-container {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.pie-chart-container,
.bar-chart-container {
  flex-basis: 50%; 
}

canvas {
  max-width: 100%;
  max-height: 400px; 
} */
/* 
.charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows items to wrap if not enough space */
/* gap: 20px; Spacing between charts */
/* } */

/* .chart-container {
  flex: 1;
  /min-width: 300px; 
  max-width: 600px; 
}  */

/* .pie-chart-container,
.bar-chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  max-width: 100%;
  aspect-ratio: 1;
} */

.charts-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pie-chart-container,
.bar-chart-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the canvas created by Chart.js */
canvas {
  max-width: 100%;
  height: auto;
}
