/* App.css */
.select-container {
  margin-bottom: 20px;
}

.label-heading {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
}

.output-box {
  border: 5px solid #000000;
  margin: 10px;
  padding: 15px;
  width: 900px;
}

.node-box {
  /* display: flex;
  flex-wrap: wrap; */
  border: 1px solid #636060;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 865px;
}

.node {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 830px;
}

.nodeName {
  font-weight: bold;
}

.node-data {
  font-size: 12px;
  margin-top: 5px;
}
